.login_reg h2 {
  margin-bottom: 0;
}

main.login_reg {
	padding: 2em;
  display: flex;
  justify-content: space-around;
}

.login_reg section {
  width: 45%;
}

.login_reg form {
  display: flex;
  flex-flow: column wrap;
}

.login_reg input[type="text"], .login_reg input[type="password"], .login_reg input[type="email"] {
  padding: .5em;
  margin-bottom: 1em;
}

.login_reg input[type="submit"] {
  align-self: center;
  padding: .5em 1.5em;
  background: sienna;
  color: whitesmoke;
  border: none;
}

.login_reg label {
  background: rebeccapurple;
  color: whitesmoke;
  padding: .4em;
}
