*, *:before, *:after {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: rgba(255, 87, 34, 0);
}

header {
  background: #232323;
  margin: 0;
  padding: .8em;
  color: #E1ECF9;
  position: relative;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 1.6em;
}

h2 {
  background: rgba(0,0,0,.5);
  color: white;
  padding: .5em;
}

header h2 {
  font-size: 1.3em;
  background: none;
  padding: none;
}

nav {
  float: right;
  position: absolute;
  bottom: .5em;
  right: 1em;
}

nav button {
  background: none;
  color: #E1ECF9;
  border: none;
  font-size: 1.2em;
}

main {
	padding: 1.5em;
	clear: both;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0);
  transition: border-bottom .3s ease;
}

a:hover {
  border-bottom: 1px solid rgba(0,0,0,1);
}

input[type="radio"] {
  display: none;
}

.container {
  clear: both;
}

#course_button_wrapper {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

label {
  background: #444;
  color: whitesmoke;
  padding: 1em;
  transition: background .3s ease;
}

label:hover {
  background: #666;
}

input[type="radio"]:checked + label {
  background: #666;
}

.tabbed {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
}

#all_course_updates, #single_course_updates {
  display: flex;
  flex-flow: row wrap;
}

#all_course_updates section, #single_course_updates section {
  width: 45%;
  margin: 0 auto;
}

.wrapper-tabs-buttons {
  display: flex;
  padding: 0;
}

.button-tabs {
  padding: 1em;
  margin: 0;
  text-align: center;
  border: 1px solid rgba(0,0,0,.7);
}

.button-selected {
  flex-grow: 3;
  background: rgba(255,255,255,.8);
}

.button-unselected {
  flex-grow: 1;
  color: whitesmoke;
  background: rgba(0,0,0,.5);
}

.tabs-selected {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

#single_course_updates .tabs-selected div {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

#single_course_updates .tabs-selected div section {
  width: 45%;
  margin: 0 auto;
  flex-flow: column wrap;
}

#single_course_updates .tabs-selected div section section {
  width: 100%;
}

.tabs-unselected {
  display: none;
  width: 100%;
}

.wrapper-tabs-buttons {
  display: flex;
}

.tabbed h4 {
  background: rgba(0,0,0,.5);
  color: white;
  padding: .5em;
}